* References 
1. [Reading and Writing the Apache Parquet Format(Aparch Arrow Documentation|)](https://arrow.apache.org/docs/python/parquet.html)

# parguet, avro, csv comparative test

In [26]:
# make dataset for comparison
from sklearn.datasets import make_classification
import pandas as pd 

n_samples = int(1e+3)
num_X = 19

X, y = make_classification(
    n_samples=n_samples, 
    n_features=num_X
)

df = pd.DataFrame(X, columns=[f"col_{int(i+1)}" for i in range(num_X)])
df['y'] = y

In [27]:
df

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,y
0,-0.506863,0.298630,1.617809,-0.965963,-2.721899,-0.247170,0.387547,0.618923,0.145776,0.246897,-0.663051,1.287129,-0.694512,-1.181336,-0.633717,0.896495,0.775151,0.119168,-1.442074,1
1,-1.140608,-0.641613,-1.789834,0.525325,0.404542,1.349729,1.575776,-0.627486,-0.835364,-1.040710,1.188266,0.980680,0.880017,0.184759,1.895269,-0.182062,-1.600756,-0.425411,-0.487475,0
2,0.129358,-0.250883,0.990771,0.724327,-0.211002,0.426953,0.312429,0.067715,-1.389437,-0.918567,0.227682,1.025058,0.297570,-1.191099,-0.475236,0.637519,0.749239,-0.663045,-0.951885,1
3,0.879298,-0.342148,1.029763,1.395463,2.074834,0.015680,0.604920,-0.211099,0.928046,-1.155447,0.355557,-0.780957,-1.150193,0.856494,1.172253,0.355253,-1.147246,0.454950,-0.212735,1
4,-0.001212,0.181573,-1.301203,-0.054790,-1.626388,-0.785406,0.067107,1.322939,1.436807,0.841578,-0.082910,1.586178,-1.026577,0.002114,0.888399,-1.112066,0.230512,-1.119823,0.352717,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.297706,0.331705,0.020938,0.804941,1.801323,-0.819421,1.082867,-0.578857,0.701500,0.811721,-0.487562,0.392304,1.492014,-1.900792,-0.893559,0.181606,-0.128753,-0.186429,-0.979377,0
996,0.803852,-0.423084,-1.441963,1.587936,-1.274538,0.671550,0.918035,-0.514819,1.076086,-0.607043,0.820234,0.833302,-0.804355,-1.095593,-0.106657,0.070198,-0.049453,-2.002733,-0.051621,0
997,-1.001872,1.436418,1.231529,0.142843,-1.645122,-0.937571,1.936070,-0.079233,-0.552813,3.169834,-2.271242,-0.144421,-0.711179,-0.621327,1.486809,0.983909,-0.545244,0.666849,1.849698,1
998,0.562795,-0.510347,0.056013,-0.399171,0.530302,1.533409,0.398221,-2.223654,-0.938795,-1.275581,0.737777,1.167712,-0.306169,-0.302694,0.787362,-0.534449,1.009668,-0.918847,0.236777,1
999,0.396912,-1.069239,-0.701559,0.107506,-0.131714,-0.933998,-2.262768,0.613876,0.534625,-2.424673,1.660508,0.051423,1.636231,-0.262144,-0.742051,-0.917025,0.886956,-0.434616,-0.211593,0

In [28]:
# # requisite
# !pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\seoun\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.14 in c:\users\seoun\anaconda3\lib\site-packages (from pyarrow) (1.19.2)

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\seoun\anaconda3\python.exe -m pip install --upgrade pip' command.

### Reading and Writing Single Files

In [31]:
import pyarrow as pa
import pyarrow.parquet as pq

In [39]:
# Convert pd.DataFrame to parquet format
table = pa.Table.from_pandas(df)
table

pyarrow.Table
col_1: double
col_2: double
col_3: double
col_4: double
col_5: double
col_6: double
col_7: double
col_8: double
col_9: double
col_10: double
col_11: double
col_12: double
col_13: double
col_14: double
col_15: double
col_16: double
col_17: double
col_18: double
col_19: double
y: int32

In [40]:
type(df), type(table)

(pandas.core.frame.DataFrame, pyarrow.lib.Table)

In [43]:
# Write pd.DataFrame to Parquet format 
pa.parquet.write_table(table, 'example.parquet')
# Write pd.DataFrame to csv format
df.to_csv('example.csv')

In [44]:
# Read parquet file and convert to pd.DataFrame
table2 = pq.read_table('example.parquet')
table2.to_pandas()

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,y
0,-0.506863,0.298630,1.617809,-0.965963,-2.721899,-0.247170,0.387547,0.618923,0.145776,0.246897,-0.663051,1.287129,-0.694512,-1.181336,-0.633717,0.896495,0.775151,0.119168,-1.442074,1
1,-1.140608,-0.641613,-1.789834,0.525325,0.404542,1.349729,1.575776,-0.627486,-0.835364,-1.040710,1.188266,0.980680,0.880017,0.184759,1.895269,-0.182062,-1.600756,-0.425411,-0.487475,0
2,0.129358,-0.250883,0.990771,0.724327,-0.211002,0.426953,0.312429,0.067715,-1.389437,-0.918567,0.227682,1.025058,0.297570,-1.191099,-0.475236,0.637519,0.749239,-0.663045,-0.951885,1
3,0.879298,-0.342148,1.029763,1.395463,2.074834,0.015680,0.604920,-0.211099,0.928046,-1.155447,0.355557,-0.780957,-1.150193,0.856494,1.172253,0.355253,-1.147246,0.454950,-0.212735,1
4,-0.001212,0.181573,-1.301203,-0.054790,-1.626388,-0.785406,0.067107,1.322939,1.436807,0.841578,-0.082910,1.586178,-1.026577,0.002114,0.888399,-1.112066,0.230512,-1.119823,0.352717,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.297706,0.331705,0.020938,0.804941,1.801323,-0.819421,1.082867,-0.578857,0.701500,0.811721,-0.487562,0.392304,1.492014,-1.900792,-0.893559,0.181606,-0.128753,-0.186429,-0.979377,0
996,0.803852,-0.423084,-1.441963,1.587936,-1.274538,0.671550,0.918035,-0.514819,1.076086,-0.607043,0.820234,0.833302,-0.804355,-1.095593,-0.106657,0.070198,-0.049453,-2.002733,-0.051621,0
997,-1.001872,1.436418,1.231529,0.142843,-1.645122,-0.937571,1.936070,-0.079233,-0.552813,3.169834,-2.271242,-0.144421,-0.711179,-0.621327,1.486809,0.983909,-0.545244,0.666849,1.849698,1
998,0.562795,-0.510347,0.056013,-0.399171,0.530302,1.533409,0.398221,-2.223654,-0.938795,-1.275581,0.737777,1.167712,-0.306169,-0.302694,0.787362,-0.534449,1.009668,-0.918847,0.236777,1
999,0.396912,-1.069239,-0.701559,0.107506,-0.131714,-0.933998,-2.262768,0.613876,0.534625,-2.424673,1.660508,0.051423,1.636231,-0.262144,-0.742051,-0.917025,0.886956,-0.434616,-0.211593,0

In [45]:
# Read parquet file with subset of columns 
pq.read_table('example.parquet', columns=['col_1', 'col_5', 'col_10', 'y'])

pyarrow.Table
col_1: double
col_5: double
col_10: double
y: int32

In [46]:
pq.read_table('example.parquet', columns=['col_1', 'col_5', 'col_10', 'y']).to_pandas()

        col_1     col_5    col_10  y
0   -0.506863 -2.721899  0.246897  1
1   -1.140608  0.404542 -1.040710  0
2    0.129358 -0.211002 -0.918567  1
3    0.879298  2.074834 -1.155447  1
4   -0.001212 -1.626388  0.841578  0
..        ...       ...       ... ..
995 -0.297706  1.801323  0.811721  0
996  0.803852 -1.274538 -0.607043  0
997 -1.001872 -1.645122  3.169834  1
998  0.562795  0.530302 -1.275581  1
999  0.396912 -0.131714 -2.424673  0

[1000 rows x 4 columns]

#### Read test

In [51]:
%%timeit 
pd.read_csv('example.csv', index_col=0)

9.63 ms ± 283 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [53]:
%%timeit 
pq.read_table('example.parquet').to_pandas()

5.69 ms ± 164 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [59]:
%%timeit
pd.read_parquet('example.parquet')

5.44 ms ± 151 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [56]:
%%timeit 
pd.read_csv('example.csv', usecols=['col_1', 'col_5', 'col_10', 'y'])

6.71 ms ± 77.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
%%timeit 
pq.read_table('example.parquet', columns=['col_1', 'col_5', 'col_10', 'y']).to_pandas()

4.56 ms ± 43.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [61]:
%%timeit
pd.read_parquet('example.parquet', columns=['col_1', 'col_5', 'col_10', 'y'])

4.2 ms ± 72.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)